<!DOCTYPE html>
<html ng-app="urinal-chess" ng-controller="uctrl" lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.name }}</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div ng-if="!endgame" class="container">
    <h1 class="{{ page.message === 'wrong' ? 'message alert' : 'message' }}">{{ page.message }}</h1>

    <ul class="restroom" ng-style="{'width': restroom[stage].urinals * 100 + 'px'}">
      <li ng-repeat="n in range(1, restroom[stage].urinals)" droppable drop="result" class="urinal" id="{{ n === restroom[stage].checkmate ? 'correct' : 'urinal-' + n }}">
        <div ng-if="n === restroom[stage].enemy[0] || n === restroom[stage].enemy[1]" ng-include src="'img/man.svg'" class="red man"></div>
      </li>
    </ul>
    <div class="start-position">
      <div ng-include src="'img/man.svg'" class="regular man" draggable item="item" id="drag"></div>
      <button ng-if="continue" ng-click="nextround()" class="button">Continue</button>
    </div>
  </div>
  <div ng-if="endgame" class="container">
    <h1 class="message">Game Over</h1>
    <h2 class="score">You got {{ score }} out of {{ restroom.length }} checkmates</h2>
    <button class="button" ng-click="restart()">Restart?</button>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-cookies.min.js"></script>
  <script src="js/vendor.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
