<!DOCTYPE html>
<html lang="en" id="urinal-checkmate">
<head>
  <meta charset="UTF-8">
  <title>{{ page.name }}</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div class="container" v-cloak>
    <h1 class="message">{{ page.message }}</h1>
    <ul class="restroom" v-bind:style="{ width: restroom[stage].urinals * 100 + 'px'}">
      <li class='urinal'
          v-for="n in restroom[stage].urinals"
          v-droppable="drop"
          id="{{ n == checkmate ? 'correct' : 'urinal-' + n }}">
        <div v-if="n == enemy1 || n == enemy2" v-include="img/man.svg" class="red man"></div>
      </li>
    </ul>
    <div class="regular man" v-include="img/man.svg" v-draggable id="man"></div>
  </div>
  <script src="http://cdn.jsdelivr.net/vue/1.0.4/vue.min.js"></script>
  <script src="js/vendor.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
