@import "normalize";

/* Variables
   ========================================================================== */
$black: #000000;

/* User Styles
   ========================================================================== */

.container {
    max-width: 780px;
    margin: 0 auto;
}

.headline {
	font-size: 100px;
	text-transform: uppercase;
	text-align: center;
}

.regular-man {
	width: 100px;
	margin: 0 auto;
}
.man {
	fill: $black;
}
