@import "normalize";

/* Variables
   ========================================================================== */
$black: #000000;
$urinal-width: 100px;
$man-width: 60px;

/* User Styles
   ========================================================================== */
 %clearfix:after {
   content: "";
   display: table;
   clear: both;
 }

.container {
  max-width: 780px;
  margin: 0 auto;
}

.message {
	font-size: 100px;
	text-transform: uppercase;
	text-align: center;
}

.restroom {
  @extend %clearfix;
  padding: 0;
  list-style: none;
  width: $urinal-width * 3;
  margin: 0 auto;

  li {
    float: left;
  }
}

.urinal {
  width: $urinal-width;
  height: auto;
}

.man {
	width: $man-width;
  height: auto;
	margin: 0 auto;
  fill: $black;
}
