@import "normalize";

/* Variables
   ========================================================================== */
$black: #000000;

/* User Styles
   ========================================================================== */

.container {
    max-width: 780px;
    margin: 0 auto;
}

.headline {
	font-size: 100px;
	text-transform: uppercase;
	text-align: center;
}

.man {
	fill: $black;
}

.restroom {
  li {
    display: inline-block;
    margin-right: 20px;
  }
}

.regular-man {
	width: 100px;
	margin: 0 auto;
}

[data-drag=true] {
	cursor: -webkit-grab;
	cursor: -moz-grab;
}
