@import "normalize";

/* Variables
   ========================================================================== */
$black: #000000;
$white: #ffffff;
$red: red;
$urinal-size: 6.25rem;
$man-width: 4.063rem;

/* User Styles
   ========================================================================== */
[v-cloak] {
  display: none;
}

.container {
  max-width: 48.75rem;
  margin: 0 auto;
}

.message {
  font-size: 6.25rem;
  text-transform: uppercase;
  text-align: center;
}

.alert {
  color: $red;
}

.score {
  text-align: center;
  margin: 2.5rem 0;
}

[id="man"] {
  cursor: -webkit-grab;
  cursor: -moz-grab;

  &.dragging {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
  }
}

.restroom {
  display: flex;
  padding: 0;
  list-style: none;
  margin: 0 auto;
}

.urinal {
  background: image-url("urinal.svg") no-repeat;
  width: $urinal-size;
  height: $urinal-size;
}

[id="start-position"] {
  margin-top: 6.25rem;
}

.man {
  width: $man-width;
  height: auto;
  margin: 0 auto;

  .regular & {
    fill: $black;
  }

  .red & {
    fill: $red;
  }
}

.button {
  background: $white;
  border: 0.125rem solid $black;
  border-radius: 0.313rem;
  width: 6.25rem;
  display: block;
  margin: 0.313rem auto;
  padding: 0.313rem;
  text-align: center;
  text-decoration: none;
  color: $black;

  &:hover {
    background: $black;
    color: $white;
  }
}

.blsky {
  svg {
    display: block;
    width: 2.5rem;
    margin: 0 auto;
  }
}
